<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Program Files/Git/workspace/muke/AutoTest">
        <classes>
    <class name="com.course.cases.AddUserTest">
        <methods>
        <include name="addUser"/>
        </methods>
    </class>
        <class name="com.course.cases.GetUserInfoTest">
    <methods>
        <include name="getUserInfo"/>
    </methods>
        </class>
        <class name="com.course.cases.GetUserListTest">
            <methods>
                <include name="getUserList"/>
            </methods>
        </class>
        <class name="com.course.cases.LoginTest">
            <methods><include name="loginTrue"/>
                <include name="loginFalse"/>
            </methods>
        </class>
        <class name="com.course.cases.UpdateUserInfoTest">
            <methods>
                <include name="updateUserInfo"/>
                <include name="deleteUserInfo"/>
            </methods>
        </class>
        <class name="com.course.testng.BasicAnnotation">
            <methods>
                <include name="testCase1"/>
                <include name="testCase2"/>
            </methods>
        </class>
        <class name="com.course.testng.DependTest">
            <methods>
                <include name="test1"/>
            </methods>
        </class>
        <class name="com.course.testng.ExpectedException">
            <methods>
                <include name="runTimeExceptionFailed"/>
                <include name="runTimeExceptionSuccess"/>
            </methods>
        </class>
        <class name="com.course.testng.IgnoreTest">
            <methods>
                <include name="ignore1"/>
                <include name="ignore2"/>
                <include name="ignore3"/>
            </methods>
        </class>
        <class name="com.course.testng.TimeOutTest">
            <methods>
                <include name="testSuccess"/>
                <include name="testFailed"/>
            </methods>
        </class>
        <class name="com.course.testng.groups.GroupsOnMethod">
            <methods>
                <include name="test1"/>
                <include name="test2"/>
                <include name="test3"/>
                <include name="test4"/>
            </methods>
        </class>
        <class name="com.course.testng.multiThread.MultiThreadOnAnnotation">
            <methods>
                <include name="test"/>
            </methods>
        </class>
        <class name="com.course.testng.multiThread.MultiThreadOnXml">
            <methods>
                <include name="test1"/>
                <include name="test2"/>
                <include name="test3"/>
            </methods></class>
        <class name="com.course.testng.paramter.DataProviderTest">
            <methods>
                <include name="testDataProvider"/>
                <include name="test1"/>
                <include name="test2"/>
            </methods>
        </class>
        <class name="com.course.testng.suite.LoginTest">
            <methods>
                <include name="loginTaoBao"/>
            </methods>
        </class>
        <class name="com.course.testng.suite.PayTest">
            <methods>
                <include name="paySuccess"/>
            </methods>
        </class>
        <class name="com.tester.extend.demo.TestMethodDemo">
            <methods>
                <include name="test1"/>
                <include name="test2"/>
                <include name="test3"/>
                <include name="logDemo"/>
            </methods>
        </class>
        <class name="com.course.httpclient.cookies.MyCookiesForGet">
            <methods>
                <include name="testGetCookies"/>
            </methods>
        </class>
        <class name="com.course.httpclient.cookies.MyCookiesForPost">
            <methods><include name="testGetCookies"/>
            </methods>
        </class>
        <class name="com.course.httpclient.demo.MyHttpClient">
            <methods>
                <include name="test1"/>
            </methods>
        </class>
    </classes>
</test>
</suite>